.carouselSection {
    position: relative;
    margin-bottom: 70px;

    .carouselHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;
    }

    .carouselTitle {
        font-size: 24px;
        color: white;
        font-weight: normal;
    }
}