.header {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: #2b2b2b;
  font-family: "Lucida Sans Unicode";
  font-size: 4vw;
  box-shadow: 0px 1px 5px black;
  color: white;
  z-index: 100;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}
