@use "../../mixins" as *;

.header {
    position: fixed;
    transform: translateY(0);
    width: 100%;
    height: 60px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: all ease 0.5s;

    &.top {
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
    }

    &.show {
        background-color: var(--black3);
    }

    &.hide {
        transform: translateY(-60px);
    }

    .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 25px;
        }

        .logoIcon {
            height: 28px;
        }

        .logoText {
            height: 22px;
        }
    }

    .menuItems {
        list-style-type: none;
        display: none;
        align-items: center;

        @include md {
            display: flex;
        }

        .menuItem {
            height: 60px;
            display: flex;
            align-items: center;
            margin: 0 15px;
            color: white;
            font-weight: 500;
            cursor: pointer;

            svg {
                font-size: 20px;
            }

            &:hover {
                color: var(--pink);
            }
        }
    }

    .mobileMenuItems {
        display: flex;
        align-items: center;
        gap: 20px;

        @include md {
            display: none;
        }

        svg {
            font-size: 20px;
            color: white;
            cursor: pointer;
        }
    }

    &.mobileView {
        background: var(--black3);

        .menuItems {
            display: flex;
            position: absolute;
            top: 60px;
            left: 0;
            background: var(--black3);
            flex-direction: column;
            width: 100%;
            padding: 20px 0;
            animation: mobileMenu 0.3s ease forwards;

            .menuItem {
                font-size: 20px;
                width: 100%;
                padding: 15px 20px;
                margin: 0;

                &:last-child {
                    display: none;
                }
            }
        }
    }

    /* SEARCH BAR */

    .searchBar {
        width: 100%;
        position: absolute;
        top: 70px;
        padding: 15px 0;
        animation: mobileMenu 0.3s ease forwards;

        .searchInput {
            position: relative;
            display: flex;
            align-items: center;
            max-width: 1100px;
            margin: auto;
        }

        input {
            width: 100%;
            height: 60px;
            border-radius: 45px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            outline: none;
            padding: 0 300px 0 60px;
            font-size: 20px;
            background: white;
            transition: all 0.25s ease;

            &::placeholder {
                color: #888;
            }

            &:focus {
                border: 1px solid var(--pink);
                box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
            }
        }

        .searchIcon {
            position: absolute;
            left: 25px;
            font-size: 26px;
            color: #666;
        }

        .closeIcon {
            position: absolute;
            right: 25px;
            font-size: 26px;
            color: #666;
            cursor: pointer;

            &:hover {
                color: var(--pink);
            }
        }
    }
}

@keyframes mobileMenu {
    0% {
        transform: translateY(-130%);
    }

    100% {
        transform: translateY(0);
    }
}